@font-face {
    font-family: 'Devonshire-Regular';
    src: url('fonts/Devonshire-Regular/Devonshire-Regular.eot');
    src: url('fonts/Devonshire-Regular/Devonshire-Regular.otf');
         url('fonts/Devonshire-Regular/Devonshire-Regular.svg')
         url('fonts/Devonshire-Regular/Devonshire-Regular.ttf')
         url('fonts/Devonshire-Regular/Devonshire-Regular.woff')
font-weight: normal
font-style: normal
}
@font-face {
	font-family: 'Verao';
	src: url('fonts/Verao-PriReg.otf');
font-weight: normal;
font-style: normal;
}
body
{
	margin: 0;
	font-size: 16px;
}
/* Balises toutes seules */
a
{
	text-decoration: none;
	color: black;
}
header a
{
	color: rgb(253, 203, 70);
}
h1
{
	color: rgb(253, 203, 70);
    font-weight: bold;
    text-align: center;
    margin: 0;
    font-size: 2.5em;
}
h2
{
	text-align: center;
}
.note h3, .chic h3, .delice h3, .palette h3
{
	display: inline-block;
	position: relative;
	left: 43%;
	text-decoration: none;
	background: linear-gradient(to top, rgba(255, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0.5) 2px, transparent 4px) no-repeat;
	background-size: 0 100%;
	transition: background-size 0.3s;
}
.note h3:hover, .chic h3:hover, .delice h3:hover, .palette h3:hover
{
	background-size: 100% 100%;
}
p
{
	padding-left: 5%;
}
.fas
{
	font-size: 40%;
}
.fas1
{
	animation: bounce 0.6s ease infinite;
}
.fas2
{
	animation: bounce 0.6s ease infinite; 
	animation-delay: 0.2s;
}
.fas3
{
	animation: bounce 0.6s ease infinite;
	animation-delay: 0.4s;
}
.price
{
	float: right;
	padding-right: 5%;
}
/* CSS du index.html */
header
{
	display: block;
    height: 50px;
    background-color: rgb(87, 156, 135);
}
main
{
	height: 100vh;
}
.zoom
{
	transform: scale(1);
    transition: transform 400ms;
    overflow: hidden;
}
.zoom:hover
{
	transform: scale(1.15);
	z-index: 1;
	opacity: 0.5;
}
.container
{
	display: flex;
	width: 40%;
	height: 100vh;
	justify-content: space-around;
	padding-left: 30%;
	padding-right: 30%;
	margin: auto;
	flex-wrap: wrap;
}
.container section
{
	display: flex;
	flex-direction: column;
	width: 45%;
	margin: 2% 2%;
	justify-content: center;
	text-align: center;
	border: 0.5px solid black;
}
.container h3
{
	font-size: 1.5em;
}
.later
{
	display: block;
	width: 15%;
	height: 50px;
    margin-left: 42%;
    margin-bottom: 100px;
	background-color: rgb(87, 156, 135);
	border-radius: 20px;
}
.later article
{
	color: rgb(253, 203, 70);
	text-align: center;
	display: flex;
	justify-content: space-around;
}
.later .fas
{
	padding-top: 4%;
}
footer
{
	width: 100%;
	height: 50px;
    background-color: rgb(87, 156, 135);
    position: fixed;
    bottom: 0;
}
footer p
{
	display: flex;
	justify-content: space-around;
	font-size: 1.5em;
	margin: 0;
	padding-top: 12px;
}
footer a 
{
	color: rgb(253, 203, 70);
}
.menu1
{
    background-color: rgb(253,235,232);
}
.menu1 h2,h3
{
	color: rgb(60, 18,24);
}
.menu1 h2
{
	font-family: 'Devonshire-Regular';
}
.menu2
{
	background-color: rgb(255, 245, 254);
}
.menu2 h3
{
	color: rgb(199, 116, 18);
}
.menu2 h2, .menu2 h3
{
	background: -webkit-gradient(linear, left top, right bottom, from(rgb(223, 135, 30)), to(rgb(143, 91, 254)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu3
{
	background-color: rgb(237, 239, 239);
}
.menu3 h3
{
	color: rgb(8, 135,251);
}
.menu3 h2, .menu3 h3
{
	background: -webkit-gradient(linear, left top, right bottom, from(rgb(2, 45, 223)), to(rgb(8, 137, 251)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu3 h2, .delice h2
{
	font-family: 'Verao';
	font-size: 2.5em;
}
.menu4
{
	background-color: rgb(187, 255, 153, 0.5);
}
.menu4 h3
{
	color: rgb(114, 191, 86);
}
.menu4 h2, .menu4 h3
{
	background: -webkit-gradient(linear, left top, right bottom, from(rgb(65, 150, 60)), to(rgb(190, 255, 127)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* CSS de chaque menu */
.note, .chic, .delice, .palette
{
	display: flex;
	flex-direction: column;
	width: 45%;
	margin-left: 28%;
	margin-top: 2%;
	margin-bottom: 100px;
}
.note
{
	background-color: rgb(252,223,219);
}
.note h2
{
	font-family: 'Devonshire-Regular';
}
.chic
{
	background-color: rgb(255, 245, 254);
}
.chic h2
{
	background: -webkit-gradient(linear, left top, right bottom, from(rgb(223, 135, 30)), to(rgb(143, 91, 254)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.entree2 h3, .dessert2 h3
{
	left: 38%;
}
.chic, .delice h3
{
	left: 38%;
}
.delice
{
	background-color: rgb(237, 239, 239);
}
.delice h2
{
	background: -webkit-gradient(linear, left top, right bottom, from(rgb(2, 45, 223)), to(rgb(8, 137, 251)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.palette
{
	background-color: rgb(187, 255, 153, 0.5)
}
.palette h2
{
	background: -webkit-gradient(linear, left top, right bottom, from(rgb(65, 150, 60)), to(rgb(190, 255, 127)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.palette h3
{
	left: 40%;
}
/* CSS pour trait autour des entrées, plats, desserts */
.decoleft, .decoright, .decoleft2, .decoright2
{
	border-bottom: 2px solid black;
	display: block;
	position: relative;
}
.decoleft, .decoright,  .decoleft2
{
	width: 30%;
}
.decoleft, .decoleft2
{	
	
	margin-left: 5%;
	top: 32px;
}
.decoright
{
	margin-right: 5%;
	bottom: 31px;
	left: 65%;
}
.decoright2
{
    width: 28%;
    margin-right: 5%;
    bottom: 31px;
    left: 70%;
}
.decoleft4, .decoright4
{
	height: 5px;
    background: -webkit-gradient(linear, left top, right bottom, from(rgb(65, 150, 60)), to(rgb(190, 255, 127)));
    -webkit-text-fill-color: transparent;
    display: block;
    width: 30%;
    margin-left: 5%;
    position: relative;
    top: 32px;
}
.decoleft4
{
	margin-left: 5%;
	top: 32px;
}
.decoright4
{
    margin-left: 65%;
    top: -31px;
}
#entree
{
	left: 47%;
}
.entree2, .entree2 h3
{
	color: rgb(198, 116, 18);
}
.plat2, .plat2 h3
{
	color: rgb(165, 103, 153);
}
.dessert2, .dessert2 h3
{
	color: rgb(110, 76, 204);
}
.entree2 .decoleft2, .entree2 .decoright2
{
	border-bottom: 3px solid rgb(198, 116, 18);
}
.plat2 .decoleft2, .plat2 .decoright2
{
	border-bottom: 3px solid rgb(165, 103, 153);
}
.dessert2 .decoleft2, .dessert2 .decoright2
{
	border-bottom: 3px solid rgb(110, 76, 204);
}
.entree3 .decoleft, .entree3 .decoright
{
	border-bottom: 3px solid rgb(2, 40, 221);
}
.plat3 .decoleft, .plat3 .decoright
{
	border-bottom: 3px solid rgb(6, 112, 243);
}
.dessert3 .decoleft, .dessert3 .decoright
{
	border-bottom: 3px solid rgb(34, 157, 249);
}
/* Animations */
@keyframes bounce{
     from {transform: translateY(0);}
     to   {transform: translateY(-10px);}
}
@keyframes shake {
	from, to {
		transform: translate3d(0, 0, 0);
	}

	10%, 30%, 50%, 70%, 90% {
		transform: translate3d(-10px, 0, 0);
	}

	20%, 40%, 60%, 80% {
		transform: translate3d(10px, 0, 0);
	}
}
.shake:hover
{
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97);
}
/* Responsive */
@media screen and (max-width : 1024px)
{
	header{
		height: 100px;
		font-size: 2em;
	}
	main{
		height: auto;
	}
	.container {
		width: 100%;
		padding: 0;
		height: auto;
	}
	.container section{
		font-size: 2.5em;
		flex-direction: column;
		width: 100%;
	}
	.note, .chic, .delice, .palette {
		margin-top: 10%;
		width: 100%;
		margin-left: 0;
	}
	.note h3, .chic h3, .delice h3, .palette h3
	{
		font-size: 1.2em;
		margin-left: -2%;
	}
	.plat h3 {
		margin-left: -7%;
	}
	.dessert h3 {
		margin-left: -10%;
	}
	.chic h3 {
		margin-left: -11%;
	}
	.delice h3 {
		margin-left: -10%;
	}
	.decoleft
	{
		top: 30px;
		width: 23%;
	}
	.decoright
	{
		bottom: 32px;
		width: 23%;
		margin-left: 10%;
	}
	.decoleft2
	{
		top: 31px;
		width: 19%;
	}
	.decoright2
	{
		bottom: 31px;
		width: 19%;
		margin-left: 10%;
	}
	.entree .decoright2
	{
		width: 15%;
		margin-left: 15%;
	}
	.delice .decoleft
	{
		width: 20%;
	}
	.delice .decoright
	{
		width: 20%;
		margin-left: 15%;
	}
	#entree {
		left: 45%;
	}
	.decoleft4
	{
		top: 31px;
		width: 25%;
	}
	.decoright4
	{
		top: -32px;
		width: 25%;
		margin-left: 75%;
	}
	.price
	{
		font-size: 1.2em;
	}
	.later {
		width: 40%;
		height: 70px;
		margin-left: 30%;
		font-size: inherit;
	}
	footer {
		height: 80px;
		font-size: inherit;
	}
	footer article {
		padding-left: 0;
	}
}