header
{
	display: block;
    height: 50px;
    background-color: rgb(87, 156, 135);
}
h1
{
	color: rgb(253, 203, 70);
    font-weight: bold;
    text-align: center;
    padding-top: 4px;
}
main
{
	height: 100vh;
}
.container
{
	display: flex;
	width: 40%;
	height: 100vh;
	justify-content: space-around;
	padding-left: 30%;
	padding-right: 30%;
	margin: auto;
	flex-wrap: wrap;
}

.container section
{
	display: flex;
	flex-direction: column;
	width: 45%;
	margin: 2% 2%;
	justify-content: center;
	text-align: center;
}
.first
{
    background-color: rgb(253,235,232);
    border: 0.5px solid black;
}
.first article, .second article, .third article, .fourth article
{
	transform: scale(1);
    transition: transform 400ms;
    overflow: hidden;
}
.first:hover article, .second:hover article, .third:hover article, .fourth:hover article
{
	transform: scale(1.15);
	z-index: 1;
	opacity: 0.5;
}
.first h2,h3
{
	color: rgb(60, 18,24);
}
.second
{
	background-color: rgb(255, 245, 254);
	border: 0.5px solid black;
}
.second h3
{
	color: rgb(199, 116, 18);
}
.third
{
	background-color: rgb(237, 239, 239);
	border: 0.5px solid black;
}
.third h3
{
	color: rgb(8, 135,251);
}
.fourth
{
	background-color: rgb(187, 255, 153, 0.5);
	border: 0.5px solid black;
}
.fourth h3
{
	color: rgb(114, 191, 86);
}
.later
{
	display: block;
	width: 15%;
	height: 50px;
    margin-left: 42%;
    margin-bottom: 100px;
	background-color: rgb(87, 156, 135);
	border-radius: 20px;
}
.later p
{
	color: rgb(253, 203, 70);
	text-align: center;
	padding: 10px;
	display: flex;
	justify-content: space-around;
}
.later .fas
{
	padding-top: 4%;
}
footer
{
	width: 100%;
	height: 50px;
    background-color: rgb(87, 156, 135);
    position: fixed;
    bottom: 0;
    margin-bottom: 5px;
}
footer article
{
	color: rgb(253, 203, 70);
}
footer p
{
	display: flex;
	justify-content: space-around;
}
.shake:hover
{
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97);
}

footer a 
{
	color: rgb(253, 203, 70);
}

a
{
	text-decoration: none;
	color: black;
}
h2
{
	text-align: center;
}
.contenu1, .contenu2, .contenu3, .contenu4
{
	display: flex;
	flex-direction: column;
	width: 45%;
	margin-left: 28%;
	margin-top: 2%;
	margin-bottom: 100px;
}
h4
{
	display: inline-block;
	position: relative;
	left: 43%;
	text-decoration: none;
	background: linear-gradient(to top, rgba(255, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0.5) 2px, transparent 4px) no-repeat;
	background-size: 0 100%;
	transition: background-size 0.3s;
}
h4:hover
{
	background-size: 100% 100%;
}
.contenu2, .contenu3 h4
{
	left: 38%;
}
.contenu4 h4
{
	left: 40%;
}
#entree
{
	left: 47%;
}
.price
{
	float: right;
	padding-right: 5%;
}
.contenu1
{
	background-color: rgb(252,223,219);
}
.contenu2
{
	background-color: rgb(255, 245, 254);
}
.contenu3
{
	background-color: rgb(237, 239, 239);
}
.contenu4
{
	background-color: rgb(187, 255, 153, 0.5)
}
p
{
	padding-left: 5%;
}
.fas
{
	font-size: 50%;
}
.fas1
{
	animation: bounce 0.6s ease infinite;
}
.fas2
{
	animation: bounce 0.6s ease infinite; 
	animation-delay: 0.2s;
}
.fas3
{
	animation: bounce 0.6s ease infinite;
	animation-delay: 0.4s;
}
@keyframes bounce{
     from {transform: translateY(0);}
     to   {transform: translateY(-10px);}
}
@keyframes shake {
	from, to {
		transform: translate3d(0, 0, 0);
	}

	10%, 30%, 50%, 70%, 90% {
		transform: translate3d(-10px, 0, 0);
	}

	20%, 40%, 60%, 80% {
		transform: translate3d(10px, 0, 0);
	}
}
.trait1, .trait1bis, .trait2, .trait2bis
{
	border-bottom: 2px solid black;
}
.trait1, .trait2
{
	display: block;
	width: 30%;
	margin-left: 5%;
	position: relative;
	top: 32px;
}
.trait1bis
{
	display: block;
	width: 30%;
	margin-right: 5%;
	position: relative;
	bottom: 31px;
	left: 65%;
}
.trait2bis
{
	display: block;
    width: 28%;
    margin-right: 5%;
    position: relative;
    bottom: 31px;
    left: 70%;
}
.contenu2 h2
{
	background: -webkit-gradient(linear, left top, right bottom, from(rgb(223, 135, 30)), to(rgb(143, 91, 254)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section1
{
	color: rgb(198, 116, 18);
}
.section2
{
	color: rgb(165, 103, 153);
}
.section3
{
	color: rgb(110, 76, 204);
}
.section1 .trait2, .section1 .trait2bis
{
	border-bottom: 3px solid rgb(198, 116, 18);
}
.section2 .trait2, .section2 .trait2bis
{
	border-bottom: 3px solid rgb(165, 103, 153);
}
.section3 .trait2, .section3 .trait2bis
{
	border-bottom: 3px solid rgb(110, 76, 204);
}
.contenu3 h2
{
	background: -webkit-gradient(linear, left top, right bottom, from(rgb(2, 45, 223)), to(rgb(8, 137, 251)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section4 .trait1, .section4 .trait1bis
{
	border-bottom: 3px solid rgb(2, 40, 221);
}
.section5 .trait1, .section5 .trait1bis
{
	border-bottom: 3px solid rgb(6, 112, 243);
}
.section6 .trait1, .section6 .trait1bis
{
	border-bottom: 3px solid rgb(34, 157, 249);
}
.contenu4 h2
{
	background: -webkit-gradient(linear, left top, right bottom, from(rgb(65, 150, 60)), to(rgb(190, 255, 127)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section7 .trait4
{
	height: 5px;
    background: -webkit-gradient(linear, left top, right bottom, from(rgb(65, 150, 60)), to(rgb(190, 255, 127)));
    -webkit-text-fill-color: transparent;
    display: block;
    width: 30%;
    margin-left: 5%;
    position: relative;
    top: 32px;
}
.section7 .trait4bis
{
	height: 5px;
    background: -webkit-gradient(linear, left top, right bottom, from(rgb(65, 150, 60)), to(rgb(190, 255, 127)));
    -webkit-text-fill-color: transparent;
    display: block;
    width: 30%;
    margin-left: 65%;
    position: relative;
    top: -31px;
}
@font-face {
    font-family: 'Devonshire-Regular';
    src: url('fonts/Devonshire-Regular/Devonshire-Regular.eot');
    src: url('fonts/Devonshire-Regular/Devonshire-Regular.otf');
         url('fonts/Devonshire-Regular/Devonshire-Regular.svg');
         url('fonts/Devonshire-Regular/Devonshire-Regular.ttf');
         url('fonts/Devonshire-Regular/Devonshire-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Verao';
	src: url('fonts/Verao-PriReg.otf');
	font-weight: normal;
	font-style: normal;
}
.third h2, .contenu3 h2
{
	font-family: 'Verao';
	font-size: 2.5em;
}
.contenu1 h2
{
	font-family: 'Devonshire-Regular';
}
.second article
{
	background: -webkit-gradient(linear, left top, right bottom, from(rgb(223, 135, 30)), to(rgb(143, 91, 254)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.first h2
{
	font-family: 'Devonshire-Regular';
}
.third article
{
	background: -webkit-gradient(linear, left top, right bottom, from(rgb(2, 45, 223)), to(rgb(8, 137, 251)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fourth article
{
	background: -webkit-gradient(linear, left top, right bottom, from(rgb(65, 150, 60)), to(rgb(190, 255, 127)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container h3
{
	font-size: 1.5em;
}
@media screen and (max-width : 1024px)
{
	header{
		height: 100px;
		font-size: 2.5em;
	}
	.container {
		width: 100%;
		padding: 0;
	}
	.container section{
		font-size: 2.5em;
	}
	.contenu1, .contenu2, .contenu3, .contenu4 {
		margin-top: 10%;
	}
	.later {
		width: 30%;
		height: 70px;
		margin-left: 35%;
		font-size: 1.75em;
	}
	footer {
		height: 80px;
		font-size: 1.75em;
	}
	footer article {
		padding-left: 18%;
	}
	.right-align {
		padding-right: 20%;
	}
}
